<h1>登録しているストリーマー</h1>
<% @streamers.each do |talent, streamers| %>
  <h2><%= talent.name %></h2>

  <table border="1">
    <tr>
      <th>name</th>
      <th></th>
    </tr>

    <% streamers.each do |streamer| %>
      <tr>
        <td>
          <%= streamer.streaming_platform.name %><br>
          <%= link_to '編集', edit_talent_streamer_path(talent, streamer) %>
        </td>
        <td>
          <ul>
            <li>url: <%= link_to '配信URL', streamer.url if streamer.streamer_key.present? %></li>
            <li>notify: <%= streamer.notify ? 'ON' : 'OFF' %></li>
            <li>download_live_stream: <%= streamer.download_live_stream ? 'ON' : 'OFF' %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h1>ダウンロードしたライブ配信</h1>
TODO
